# --------------------------------------------------------------------------------------------------
# Files to ignore in the npm package.
# --------------------------------------------------------------------------------------------------

# NuGet cache
.nuget/

# Dev utilities
.vscode/
.ci/
.editorconfig
Makefile
